@model List<GorevListAllViewDto>


@foreach (var item in Model)
{
    <div class="card my-2">
        <h5 class="card-header">@item.Ad</h5>
        <div class="card-body">
            <h5 class="card-title"> <span class="text-danger">Aciliyet Durumu :</span> @item.Aciliyet.Tanim</h5>
            <p class="card-text">@item.Aciklama</p>
            <p class="text-right">
                @if (item.Raporlar.Count > 0)
                {
                    <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample_@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Raporlara Git <span class="badge badge-dark">@item.Raporlar.Count</span><i class="fas fa-arrow-down ml-2"></i>
                    </a>
                }

                else
                {
                    <span class="lead font-weight-bold font-italic d-block text-left mb-1">Rapor Yazılmamış.</span>
                    <a class="btn btn-light btn-sm" asp-action="RaporEkle" asp-route-id="@item.Id">
                        <i class="fas fa-plus mr-2"></i> Rapor Yaz
                    </a>
                }
                <a data-id="@item.Id" data-toggle="modal" data-target="#UpdateModal"   class="btn btn-danger btn-sm">İşi Tamamla</a>
            </p>
            <div class="collapse" id="collapseExample_@item.Id">
                <a class="btn btn-light btn-sm" asp-action="RaporEkle" asp-route-id="@item.Id">
                    <i class="fas fa-plus mr-2"></i> Rapor Yaz
                </a>
                <table class="table table-hover table-bordered table-sm mt-2">
                    <tr>
                        <th>Ad</th>
                        <th>Tanım</th>
                        <th>İşlem</th>
                    </tr>
                    @foreach (var rapor in item.Raporlar)
                    {
                        <tr>
                            <td>@rapor.Tanim</td>
                            <td>@rapor.Detay</td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-action="RaporDuzenle" asp-route-id="@rapor.Id">
                                    <i class="far fa-edit mr-2"></i> Rapor Düzenle
                                </a>
                                <a data-id="@rapor.Id" data-toggle="modal" data-target="#DeleteModal" class="btn btn-danger btn-sm"><i class="far fa-times-circle mr-2"></i> Sil</a>
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnSil" type="button" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                İşi Tamamlamak İstediğinize Emin Misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnTamamla" type="button" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DeleteModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let id = tetikleyenElement.data("id");

                $("#btnSil").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./IsEmri/SilRapor",
                        data: { RaporId: id },
                        dataType: "json",
                        contentType: "application/json charset=utf-8;",
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }

                    });
                });
            });
            $("#UpdateModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let id = tetikleyenElement.data("id");

                $("#btnTamamla").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./IsEmri/GorevTamamla",
                        data: { GorevId: id },
                        dataType: "json",
                        contentType: "application/json charset=utf-8;",
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }

                    });
                });
            });
        });
    </script>
}

 